.headerElements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 660px;
  margin: 0 auto;
  padding: 20px;

  .icons {
    display: flex;
    width: 75px;
    justify-content: space-between;
  }
}