html {
  height: 100%;
}

#root {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #F8F8F8;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Main-content {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 650px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
